node_modules
.git
.gitignore
__pycache__
*.pyc
.env
start.py
src
install_fail2ban.sh
docker-compose.yml
vite.config.js
tsconfig.json
package-lock.json
.DS_Store
.vscode
.idea
tailwind.config.js
postcss.config.js
*.log
*.csv
*.db
eslint.config.js
components.json

